/* Estilos para ItemListContainer */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: lightgray;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  /* Estilos para los enlaces */
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para las imágenes */
  img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Estilos para el contenedor de cada item */
  .item-container {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Otros estilos según tu preferencia */
  